/* GameCard.css */
.game-card {
    background-color: #F5F5DC;
    border-radius: 16px;
    padding: 1.2rem;
    height: 110%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  }
  
  .game-icon {
    width: 70%;
    height: 70%;
    margin-bottom: 1rem;
  }
  
  .game-title {
    font-size: 1.25rem;
    color: #1e3a8a;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .game-description {
    color: #4b5563;
    margin-bottom: 1.25rem;
  }
  
  .play-button {
    background-color: #2E8B57;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  
  }
  
  .play-button:hover {
    background-color: #355E3B;
  }
  