* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a4db0;
}

.form-container {
  width: 400px;
  padding: 30px 20px;
  background-color: #f9f5df;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e8e8e8;
  font-size: 16px;
  outline: none;
}

input::placeholder {
  color: #888;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button {
  background-color: #2b6836;
  color: white;
}

.login-button:hover {
  background-color: #224f2a;
}

.signup-button {
  background-color: #e41e3f;
  color: white;
}

.signup-button:hover {
  background-color: #c01835;
}

.register-text {
  margin-top: 15px;
  color: #666;
  font-size: 14px;
}

.register-link {
  color: #5c73f2;
  cursor: pointer;
  text-decoration: underline;
}

.register-link:hover {
  color: #3a53d5;
}


.back-button {
  background-color: #4CAF50;
  color: white;
  right: 1rem;
  width: 20%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #45a049;
}